<div class="modal hide" id="resultAlert">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header" style="border: none">
                <label style="font-weight: bold; color: #372f80;">Alert</label>
            </div>

            <div class="modal-body" style="padding: 0 15px 0 15px;">
                <label>Hinweis: Die eingegebene Dosierung liegt außerhalb des zugelassenen Bereiches!</label>
            </div>

            <div class="modal-footer" style="border: none;">
                <button class="btn btn-sm btn-outline-light" data-dismiss="modal" style="color: #372f80;" type="button">Ok</button>
                <button id="resultZuruckBtn" class="btn btn-sm btn-primary myBtn" data-dismiss="modal" type="button">Zurück</button>
            </div>

        </div>
    </div>
</div>